body, body > *, .navbar-light {
    background-color: #EEF3EE;
}

/* BOOTSTRAP EXTENSIONS */
.w-80 {
    width: 80%;
}

.fs-8 {
    font-size: small;
}

.h1-lg {
    font-size: 5em;
}

.mt-7 {
    margin-top: 7rem;
}

.my-7 {
    margin-top: 7rem;
    margin-bottom: 7rem;
}



.page-section {
    background-color: #DCE7DC;
}

.send-button {
    background-color: #6264e2;
    color: white;
}

#form_message {
    height: 300%;
}

/* IMAGE GALLERY */

.image-wrapper {
    background-color: #ECAC8D;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#mainImage {
    background-image: url(../assets/images/Main.jpg);
    height: 500px;
}

#heading {
    text-align: center;
    text-justify: distribute;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #mainImage {
        height: initial;
        width: 450px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #mainImage {
        height: initial;
        width: 650px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .image-wrapper {
        width: 24.9999%;
    }
}