.hide { position:absolute; top:-1px; left:-1px; width:1px; height:1px; }

body, body > *, .navbar-light {
    background-color: #EEF3EE;
}

.navbar-nav > li:hover {
    background-color: rgb(221, 136, 136);
}

.page-section {
    background-color: #DCE7DC;
    text-align: center;
    margin: 7rem .5rem;
    padding: .5rem 1rem;
    border-radius: 1rem;
}

.send-button {
    background-color: #6264e2;
    color: white;
}

#form_message {
    height: 300%;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

#mainImage {
    background-image: url(../assets/images/Main.jpg);
    height: 500px;
    background-position: 40% 30%;
    background-size: 170%;
    background-repeat: no-repeat;
}

/* Border around project steps*/
/* #projects > div {
    border: solid black .1rem;
    margin: 1.5rem .3rem;
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .page-section {
        margin: 7rem 1.25rem;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #mainImage {
        height: 500px;
    }

    .page-section {
        margin: 7rem 3.5rem;
    }
}

@media (min-width: 1024px) {
    .page-section {
        margin: 7rem 4rem;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #mainImage {
        height: 90vh;
    }

    .page-section {
        margin: 7rem 7rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .image-wrapper {
        width: 24.9999%;
    }

    .page-section {
        margin: 7rem 12rem;
    }
}